:root {
	--primary-text-color: #212121;
	--secondary-text-color: #757575;
	--primary-white-color: #ffffff;
	--accent-color: #2196f3;
	--backround-color: #2f303a;
}
body {
	background-color: var(--primary-white-color);
	font-family: "Roboto", sans-serif;
}

a {
	color: var(--primary-text-color);
	text-decoration: none;
}
.vissual-hidden {
	position: absolute;
	white-space: nowrap;
	width: 1px;
	height: 1px;
	overflow: hidden;
	border: 0;
	padding: 0;
	margin: -1px;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
}
.list {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.container {
	width: 1200px;
	padding-right: 15px;
	padding-left: 15px;
	margin-left: auto;
	margin-right: auto;
}
h1,
h2,
h3,
p,
ul {
	margin: 0;
}
img {
	display: block;
}
.section {
	padding-top: 94px;
	padding-bottom: 94px;
}

/*header*/
/*nav-section*/
.header {
	border-bottom: 1px solid #ececec;
}
.link-header {
	padding-top: 32px;
	padding-bottom: 32px;
	display: inline-block;
}
.link-logo-header {
	padding-top: 24px;
	padding-bottom: 24px;
}
.nav-box {
	display: flex;
	align-items: center;
}

.link-logo {
	font-family: "Raleway", sans-serif;
	color: #000000;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	letter-spacing: 0.03em;
	margin-right: 93px;
}

.logo {
	color: var(--accent-color);
}
.site-nav {
	display: flex;
}
.current-page {
	color: var(--accent-color);
}

.site-nav-list {
	color: var(--primary-text-color);
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	margin-right: 305px;
	padding: 0;
	display: flex;
	width: 294px;
}
.site-nav-item {
	color: black;
}

.site-nav-item:not(:last-child) {
	margin-right: 50px;
}

.site-nav-link:hover,
.site-nav-link:focus {
	color: var(--accent-color);
}
/*contact-section*/

.contact-list {
	display: flex;
	padding-top: 32px;
	padding-bottom: 32px;
}
.contact-list-item {
	display: inline-flex;
}

.contact-list-icon {
	margin-right: 10px;
	fill: currentColor;
}

.contact-list-item:not(:last-child) {
	margin-right: 30px;
}
.contact-link {
	color: var(--secondary-text-color);
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	display: flex;
}

.contact-link:hover,
.contact-link:focus,
.contact-list-icon:hover {
	color: var(--accent-color);
}

/*main*/
.hero {
	background-color: var(--backround-color);
	padding-top: 200px;
	padding-bottom: 200px;
	text-align: center;
	max-width: 1600px;
	margin-left: auto;
	margin-right: auto;
	background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
		url(../images/background.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.hero-title {
	color: var(--primary-white-color);
	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	text-align: center;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	width: 696px;
	margin-top: 0;
	margin-bottom: 30px;
	margin-right: auto;
	margin-left: auto;
}

.btn {
	background-color: var(--accent-color);
	color: var(--primary-white-color);
	font-family: "Roboto", sans-serif;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.8;
	letter-spacing: 0.06em;
	cursor: pointer;
	padding: 10px 32px;
	border: none;
	border-radius: 4px;
}

/*our-benefits*/
.benefits-list {
	padding-bottom: 94px;
}
.benefits {
	color: rgba(255, 255, 255, 1);
}
.list-ben {
	display: flex;
	padding: 0;
	margin: 0;
}
.list-ben-item {
	margin-right: 30px;
	width: 270px;
}
.list-ben-btn {
	display:flex;
	justify-content: center;
	width: 270px;
	height: 120px;
	border: none;
	background-color: rgba(245, 244, 250, 1);
	align-items: center;
	border-radius: 4px;
	margin-bottom: 30px;
}
.list-ben-icon {
	width: 70px;
	height: 70px;
}
.benefits-title {
	color: var(--primary-text-color);
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	margin-bottom: 0;
	margin-top: 0;
}
.list-ben-item:not(:last-child) {
}
.benefits-item {
	color: var(--secondary-text-color);
	font-weight: 400;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	margin-top: 10px;
	margin-bottom: 0;
}
.main-title {
	color: var(--primary-text-color);
	font-weight: 700;
	font-size: 36px;
	line-height: 1.16;
	text-align: center;
	margin-top: 0;
	margin-bottom: 50px;
	margin-left: 0;
	margin-right: 0;
}

.about-box {
	padding-bottom: 94px;
	padding-top: 0;
}
.main-list {
	display: flex;
	padding: 0;
}
.main-list-item:not(:last-child) {
	margin-right: 30px;
}
.our-team {
	background-color: rgba(245, 244, 250, 1);
	padding-top: 94px;
}
.our-team-title {
}
.social-list {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 16px;
	margin-bottom: 30px;
}
.social {
	width: 44px;
	height: 44px;
	border-radius: 50%;
}
.social:not(:last-child) {
	margin-right: 10px;
}
.social:hover,
.social:focus {
	background-color: var(--accent-color);
}
.social-link {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	border: none;
}
.social-link:hover .social-icon,
.social-link:focus .social-icon {
	fill: var(--primary-white-color);
}

.social-icon {
	width: 20px;
	height: 20px;
	fill: #afb1b8;
}
.team-list {
	display: flex;
	padding: 0;
}
.team-list-item {
	width: 270px;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
	background-color: var(--primary-white-color);
}
.team-list-item:not(:last-child) {
	margin-right: 30px;
}
.demyanenko,
.repina,
.tarasov,
.ermakov {
	padding-top: 30px;
}
.title-worker {
	color: var(--primary-text-color);
	font-weight: 500;
	font-size: 16px;
	line-height: 1.18;
	text-align: center;
	letter-spacing: 0.03em;
	margin-bottom: 10px;
}
.title-worker-item {
	color: var(--secondary-text-color);
	font-weight: 400;
	font-size: 16px;
	line-height: 1.18;
	text-align: center;
	letter-spacing: 0.03em;
}
/*clients*/
.clients {
	align-items: center;
}
.client-title {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	font-size: 36px;
	line-height: 1.16;
	text-align: center;
	letter-spacing: 0.03em;
	margin-bottom: 50px;
}
.clients-list {
	display: flex;
	justify-content: center;
	align-items: center;
}
.client-list-item {
	display: flex;
	border: 1px solid #afb1b8;
	border-radius: 4px;
	width: 170px;
	height: 92px;
	justify-content: center;
	align-items: center;
}
.client-list-item:not(:last-child) {
	margin-right: 30px;
}
.client-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}
.client-btn-icon {
	width: 106px;
	height: 60px;
	fill: #afb1b8;
}
.client-btn:hover .client-btn-icon,
.client-btn:focus .client-btn-icon {
	fill: var(--accent-color);
}
.client-list-item:hover,
.client-list-item:focus {
	border-color: var(--accent-color);
}

/*footer*/
.footer {
	background-color: var(--backround-color);
	padding-top: 60px;
	padding-bottom: 60px;
}
.foot-cont {
	display: flex;
	align-items: baseline;
}
.footer-left {
	margin-right: 70px;
}
.foot-info {
	margin-top: 20px;
}

.logo-item {
	color: var(--primary-white-color);
}

.address {
	color: var(--primary-white-color);
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
}

.address-main-item:not(:last-child) {
	margin-bottom: 9px;
}
.address-item {
	color: rgba(255, 255, 255, 0.6);
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
}

.footer-link {
	margin-right: 0;
	margin-bottom: 20px;
}
.footer-title {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--primary-white-color);
	margin-bottom: 20px;
}
.footer-list {
	display: flex;
}
.footer-list-item:not(:last-child) {
	margin-right: 10px;
}
.footer-btn {
	padding: 0;
	width: 44px;
	height: 44px;
	border-color: transparent;
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 50%;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
}
.footer-icon {
	width: 20px;
	height: 20px;
	fill: currentColor;
}
.footer-btn:hover {
	background-color: var(--accent-color);
}
